.show{
    display: flex;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between; 
}
.hide{
    display: none;
}
.menu_popup {
    padding: 2rem 1rem;
    top: 0;
    height: 100vh;
    z-index: 999;
 
    position: fixed;
    width: 100%;
    
    
    background-color: black;
  }
  
  .items_pop {
    display: flex;
    flex-direction: column;
    gap: 1rem;
    font-size: 2rem;
  }
  .items_pop a {
    color: var(--nav_links_color);
    font-size: 2rem;
    text-align: center;
  }
  .items_pop a:hover {
    color: var(--headings_color);
  }
  
  .pop_img{
    display: flex;
    width: 100%;
    justify-content: space-between;
  }
  
  .pop_img img {
    height: 50px;
  }
  
  .cta_pop a {
    font-size: 1.5rem;
    font-weight: bold;
  padding: 10px 20px;
  border-top-left-radius: 8px;
  transition: all 0.3s ease-in-out;
  border-bottom-right-radius: 8px;
  background-color: var(--headings_color);
  }
  .cta_pop a:hover{
    border-radius: 0px;
    background-color: var(--nav_links_color);
  color: var(--headings_color);
  }
  