
.menu_popup {
    padding-top: 2rem;
    top: 0;
    height: 100vh;
    z-index: 999;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between; 
    position: fixed;
    width: 100%;
    
    
    background-color: black;
  }
  
  .items_pop {
    display: flex;
    flex-direction: column;
    font-size: 2rem;
  }
  .items_pop a {
    color: var(--nav_links_color);
    font-size: 2rem;
    text-align: center;
  }
  .items_pop a:hover {
    color: var(--headings_color);
  }
  
  .pop_img{
    display: flex;
    width: 100%;
    justify-content: space-between;
  }
  
  .pop_img img {
    height: 50px;
  }
  
  .cta_pop a {
    display: block;
    padding: 10px 20px;
    font-size: 1.5rem;
  }
  